[2017-06-14 17:11] dpordomingo opened #25 "Use only two tweets in the Testimonial section"
use only two tweets
(from https://github.com/src-d/landing/pull/17)

[2017-06-16 10:17] Serabe opened #32 "Move pills from line-height to padding."

[2017-06-19 07:11] vmarkovtsev opened #37 "Upcoming blog posts are promoted"
Blog posts which are present in the "upcoming" directory get the New status and are shown on the main page. We need to hide them the same way they are hidden on blog.sourced.tech

[2017-06-27 14:05] Serabe opened #41 "Fix line-height"
Move from length to number

[2017-06-27 14:43] Serabe commented on #37
Fixed by src-d/blog#106. Closing this as is a blog issue.

[2017-06-27 14:43] #37 closed

[2017-07-13 10:43] rporres opened #62 "Slackin Dockerfile is broken"
Currently slackin needs reCAPTCHA configuration as per https://github.com/rauchg/slackin/pull/311

If we want our current Dockerfile to work we need to checkout a previous version of Slackin. Adding
[code]
before https://github.com/src-d/landing/blob/master/Dockerfile.slackin#L15 does the trick unless we want to use the last Slackin version with reCAPTCHA integration (which would need further work

[2017-07-17 08:29] erizocosmico commented on #62
I guess we should upgrade then and provide a reCAPTCHA key?

[2017-07-18 15:45] rporres opened #66 "quay.io/srcd/landing:slackin image comes from a landing docker build, not a slackin"
As an example
[code]

[2017-07-18 15:49] rporres opened #67 "Separate Landing and API processes"
Currently they live in the same Docker container which is not the best practise por Docker containers. It also needs Caddy to act as a reverse proxy. It makes the deployment in k8s rather obscure.

Once this is done, the Caddy config can be simplified removing the proxy parts once the [landing helm chart](https://github.com/src-d/charts/tree/master/landing) ingress template is configured properly

[2017-07-19 07:26] erizocosmico commented on #66
Must have pushed the wrong image back when we were updating the thing. We need to update it to the last version, anyway.

[2017-07-19 14:59] rporres opened #69 "API production YAML config variables should be provide via env variables"
So that we can pass them in helm chart deployment.

[2017-07-19 15:03] rporres opened #70 "API should be capable to receive a configurable prefix"
So that it can answer to `/<prefix>/repositories` if needed instead of rewriting the url path

[2017-07-19 15:07] erizocosmico commented on #69
I think in the new landing the following parts of the yaml are not needed: https://github.com/src-d/landing/blob/master/production.yaml#L7-L17
If this is the case, we can move them to env vars easily. If not... it's gonna be complicated.

[2017-07-19 16:15] rporres opened #72 "quay.io images should not be private"
Taken into account that this is not a private repo

[2017-07-19 16:48] Serabe commented on #70
Talking about this IRL what we need is that our internal api router know the prefix `api`. Making it fully configurable is hard because once the static part is generated, that prefix is already fixed. The PR is on the way.

[2017-07-20 07:34] #69 closed

[2017-07-20 11:47] Serabe opened #78 "Nicer transitions between examples"
We need some nicer transitions while switching between examples.

[2017-07-20 11:51] Serabe opened #79 "Check paddings in sections and in the email band"
Some sections used a band + band_container system and other use mixins. Let's standardize.

[2017-07-20 11:52] Serabe opened #80 "Animate scrolls inside projects page"

[2017-07-20 11:53] Serabe opened #81 "Check margin on top of _projects_ title"

[2017-07-20 11:54] Serabe opened #82 "Space between top of first icon in projects and hero is off by 5px"

[2017-07-20 13:42] smeruelo commented on #72
Our licence with quay gives us 50 private repositories, and we already have 46 in use. If the repo at github is public, I'd say the images at quay could be too.

[2017-07-20 13:43] erizocosmico commented on #72
That's a thing for you guys, we can't change stuff in quay.

[2017-07-20 13:45] smeruelo commented on #72
I'll make the quay repos public if you give the go-ahead.

[2017-07-20 13:46] erizocosmico commented on #72
@mcuadros @Serabe

[2017-07-21 09:48] #70 closed

[2017-07-21 11:11] Serabe commented on #72
This is for @mcuadros.

[2017-07-24 12:55] erizocosmico commented on #78
PR: https://github.com/src-d/landing/pull/84

[2017-07-24 13:01] Serabe commented on #66
Please, don't update slackin, we don't have space in the design for the new recaptcha thingy :(

[2017-07-24 13:09] erizocosmico commented on #80
PR: https://github.com/src-d/landing/pull/85

[2017-07-24 13:21] erizocosmico commented on #82
PR: https://github.com/src-d/landing/pull/86

[2017-07-24 13:26] erizocosmico commented on #66
Didn't update it in the end. It uses the previous version.

[2017-07-24 13:35] #81 closed

[2017-07-26 11:25] #82 closed

[2017-07-26 11:26] #80 closed

[2017-07-26 11:27] #78 closed

[2017-07-26 11:27] Serabe commented on #67
Closed by #71

[2017-07-26 11:27] #67 closed

[2017-07-26 11:31] Serabe opened #92 "Add media queries for adjustments in menues."
We need to adjust the menu for some custom breakpoints.
![2017-07-26 at 13 30](https://user-images.githubusercontent.com/36221/28618961-a7682ad2-7206-11e7-9b5e-7309861f8b20.png)

[2017-07-26 12:31] erizocosmico commented on #92
Isn't that already https://github.com/src-d/backlog/issues/928?

[2017-08-01 08:35] #79 closed

[2017-08-01 08:35] Serabe commented on #72
@mcuadros ping

[2017-08-01 08:37] Serabe opened #101 "Github icon is gone too far after fix for firefox."
![2017-08-01 at 10 33](https://user-images.githubusercontent.com/36221/28816500-5fd696f6-76a5-11e7-92c5-fb4424164ace.png)

[2017-08-01 12:21] Serabe opened #103 "Last details"
- [x] Remove arrow in hero in `sm` size. It is not useful given the size does not fit in the screen. 🔒 (@erizocosmico)
- [x] In mobile, in the lateral menu, the links needs to be the whole `li` so it is easier to tap. 🔒 (@erizocosmico)
- [x] In examples, the `< · · · >` for the slider needs to go to the bottom. 🔒 (@erizocosmico)
- [x] Visually remove the `hr` in projects when screen is small enoug

[2017-08-01 12:26] Serabe commented on #103
Remove posts section in pages #104

[2017-08-01 12:31] Serabe commented on #103
Starting in 991px and lower, the two columns in in careers (the benefits part), need to be just one. #105

[2017-08-01 12:38] erizocosmico commented on #103
Removing arrow https://github.com/src-d/landing/pull/106

[2017-08-01 12:51] erizocosmico commented on #103
Navigation of the carousel below the terminal box https://github.com/src-d/landing/pull/107

[2017-08-01 13:00] erizocosmico commented on #103
Bigger clickable surface on lateral menu links https://github.com/src-d/landing/pull/108

[2017-08-01 13:24] erizocosmico commented on #103
Bigger clickable surface on secondary menu links https://github.com/src-d/landing/pull/109

[2017-08-01 13:33] erizocosmico commented on #103
Increase distance between links in contact us section in footer https://github.com/src-d/landing/pull/110

[2017-08-01 13:49] erizocosmico commented on #103
Vertically center view & apply btns https://github.com/src-d/landing/pull/111

[2017-08-01 14:10] erizocosmico commented on #103
Fixed striked title in small sizes https://github.com/src-d/landing/pull/112

[2017-08-01 14:20] erizocosmico commented on #103
@Serabe do we need the pixel ratio thing? It's already ok on a retina iPhone, for example:

![photo_2017-08-01_16-19-31](https://user-images.githubusercontent.com/1312023/28829807-4dd4b854-76d5-11e7-8bb2-0332cee1e6e7.jpg)

[2017-08-01 15:08] erizocosmico commented on #103
Subpixel thingy https://github.com/src-d/landing/pull/113

[2017-08-02 08:31] #101 closed

[2017-08-02 16:47] rporres commented on #72
Repos are public hence these images need to be public. I will take care of this

[2017-08-03 15:39] #72 closed

[2017-08-04 08:55] ricardobaeta opened #119 "Low-hanging fruits suggestions"
I think we could do some tiny adjustments to visual design. What do you think @marnovo @Serabe ?

## Landing Page

- [x] source{d} logo could be smaller (height: 30px; margin-top: 12px;)
- [x] Font-size on main navigation could be adjusted (a = font-size: 18px; margin-top: 0; ul = margin-top: 10px;)
- [x] Main heading could be bolder (font-weight: 600;)
- [x] Slack logo on Join the Community block

[2017-08-16 08:45] Serabe opened #125 "Stop hotlinking twitter avatars"

[2017-08-16 08:48] Serabe opened #126 "Subpixel problem still happening in some cases."
![2017-08-16 at 10 47](https://user-images.githubusercontent.com/36221/29355213-6ddff7fc-8270-11e7-8b29-c4e7855ea04f.png)

[2017-08-17 09:36] Serabe commented on #119
*Note*: I had to edit the comment since checking the boxes did not work for some random reason I'm not spending time on debugging.¯\_(ツ)_/¯

[2017-08-17 09:53] Serabe commented on #119
Using two columns does not look good for a couple of our current tweets.

[2017-08-17 10:21] #125 closed

[2017-08-18 16:10] rporres opened #131 "Healthcheck URL for api server"
Ideally it should be configurable, but due to https://github.com/kubernetes/ingress/issues/720 (we will use k8s GCE ingress) I'm basically interested in api server answering `200` to `GET /` requests

[2017-08-22 10:42] #119 closed

[2017-08-23 07:13] marnovo commented on #131
@rporres what do you need exactly and from whom to unblock src-d/backlog#961?

[2017-08-23 10:05] rporres commented on #131
I need landing-api server to return an `200` http response code to a `GET /` request. It currently returns a `404` response code

[code]

[2017-08-23 15:21] marnovo commented on #131
Ok, Sergio said he'll look into this.

[2017-08-29 16:35] #131 closed

[2017-08-30 14:11] marnovo commented on #92
@dpordomingo let's review this after the `stack` section removed.

[2017-08-30 14:12] dpordomingo commented on #92
It will reviewed again considering https://github.com/src-d/landing/pull/141

[2017-08-30 14:14] marnovo commented on #66
@dpordomingo just talk to @rporres to see what was the exact problem and if it's solvable by not updating our slackin until we find a workaround.

[2017-08-30 14:18] marnovo commented on #41
@Serabe is this still relevant? If so, could you please help us understand it? Thanks!

[2017-08-30 14:19] marnovo commented on #32
@Serabe is this still relevant? If so, can you please help us understand it? Thank you!

[2017-08-30 14:20] #25 closed

[2017-08-31 13:17] dpordomingo commented on #92
@marnovo I could not reproduce the error.

Desktop 1500px
![image](https://user-images.githubusercontent.com/2437584/29924750-46fb9868-8e5e-11e7-83fb-6992448c3536.png)

Desktop 1200px
![image](https://user-images.githubusercontent.com/2437584/29924819-8bc959ee-8e5e-11e7-8d84-3c3228f52ca6.png)

Desktop 1280px
![image](https://user-images.githubusercontent.com/2437584/29924835-9dc22aea-8e5e-11e7-8bc

[2017-08-31 13:17] #92 closed

[2017-08-31 13:27] dpordomingo opened #146 "Take into account pixel ratio when doing responsive"
parent #103

They're needed screenshots of different mobile resolutions so product will be able to decide if it exists any problem

/cc @marnovo @ricardobaeta

[2017-08-31 13:35] dpordomingo opened #147 "Deploy Landing on Staging, tag: v3-pre1"
tag `v3-pre1` already at quay
https://quay.io/repository/srcd/landing?tab=tags

[2017-08-31 13:59] rporres commented on #147
Done. Whenever you need this, please create an issue in https://github.com/src-d/issues-infrastructure repo

[2017-08-31 14:00] #147 closed

[2017-08-31 16:43] dpordomingo opened #149 "There should be no links pointing to sourced.tech but the hugo.baseurl"
Otherwise, that links will point to production instead of the same environment

[2017-08-31 18:25] dpordomingo commented on #146
@marnovo Considering the following screenshots, I'd say there is no blocker issues and everything looks as it was initially designed and expected.

Feel free to open a new issue with any proposed changes -if needed-, and link it in the main https://github.com/src-d/backlog/issues/1009 if it is a blocker one.

**iPhone 6 Plus** Portrait (414px)
https://drive.google.com/a/sourced.tech/file/d/0BwMPVa

[2017-08-31 18:25] #146 closed

[2017-09-01 10:41] dpordomingo opened #151 "Team page. Social icon is not properly located"
When the window is resized, it moves over the person image

[2017-09-01 13:22] dpordomingo opened #152 "Pictures for Team people"
User story: _"As a developer of the Landing I need that all people images follows the original specs; I would appreciate if I could have a template for creating next images_"

Given the [original specs](https://docs.google.com/document/d/1gZ735i3G2t_nbLTWnBR69mXG0Wrkz7YMJ3ItjeNPteI/view#heading=h.wvjbaqoso28h)

![image](https://user-images.githubusercontent.com/2437584/29966422-1c9f936c-8f12-11e7-

[2017-09-01 13:32] dpordomingo commented on #152
/cc @marnovo

[2017-09-01 13:35] dpordomingo commented on #152
Once you have the new ones, you can make a PR against [release-v3 branch](https://github.com/src-d/landing/tree/release-v3)

[2017-09-01 13:36] dpordomingo commented on #152
@ricardobaeta Once you have the new ones, you can make a PR against [release-v3 branch](https://github.com/src-d/landing/tree/release-v3), from a brand new branch created from there.

**PS:** issue description updated with a clarification

[2017-09-03 18:31] Serabe commented on #32
Only if pills will have more than one line. The vertical alignment is done via line-height. For more than one line, it needs to be moved to use vertical padding.

[2017-09-03 18:32] Serabe commented on #41
Yes. A `line-height` of 1.2 means 1.2em in the element being applied to, while 1.2em means 1.2em of the element in which is being defined.

This causes having strange variables like _small line-height_ and _big line-height_ having the same value.

[2017-09-04 07:46] ricardobaeta commented on #152
@dpordomingo I've somehow was not able to create a new branch. I'm commited the new photos #4eaf1e4b02043bd424bb6f131d12fe9a8a9224ec but I'm not able to push or make a new PR. Help needed :)

[2017-09-04 18:59] #103 closed

[2017-09-04 19:04] dpordomingo commented on #32
@Serabe If I understood you, you're talking about the following:
![image](https://user-images.githubusercontent.com/2437584/30036532-93fb989e-91b4-11e7-9d35-47d9536e7ed5.png)
Many thanks for the clarification !!!!!

[2017-09-04 20:23] Serabe commented on #32
Nope, about button pills.

[2017-09-05 14:33] rporres commented on #62
Current workaround in https://github.com/src-d/landing/blob/master/Dockerfile.slackin#L16 (checkout `0.13.1`)

Apparently we don't have space in landing for CAPTCHAs, so we don't use it for the moment

[2017-09-05 14:33] #62 closed

[2017-09-05 14:38] rporres commented on #66
I will upload the image running in prod to quay

[2017-09-05 15:04] dpordomingo commented on #66
@marnovo, as clarified with @rporres this issue affects only to the current landing in production (if the current production machine losts its data, there would be no way to recover the slackin image).

This problem does not exist in the Production environment that we are about to use, nor in Staging as we are currently using.

To avoid problems with Production before migrating the landing to the

[2017-09-05 15:45] rporres commented on #66
uploaded

[2017-09-05 15:45] #66 closed

[2017-09-06 17:03] dpordomingo commented on #152
^ solved irl

[2017-09-06 17:03] dpordomingo commented on #152
@ricardobaeta I updated the issue description in order to have a clear "user story"

[2017-09-07 15:41] dpordomingo opened #156 "Problem with baseurl"
Since https://github.com/src-d/landing/pull/65/files,
the [hugo.config.yaml](https://github.com/src-d/landing/blob/3dadb58957e3dc443a4ff17e055134120b365348/hugo.config.yaml#L1) defines:
[code]
What makes that favicons, menus in the header, and other links to have a wrong link.

Let's work with the @rporres proposal:

[2017-09-07 16:04] #151 closed

[2017-09-28 14:28] ricardobaeta opened #160 "Magic link to :focus slack's input field on homepage"
As a source{d} team member I want to have a customised url so I can link directly to source{d}'s homepage email input field on slack's join community block.

- [ ] url to :focus on slack's email input field on page load.

@dpordomingo @marnovo

[2017-10-09 13:33] marnovo opened #161 "Top navigation vertical spacing is uneven, plus other quick fixes."
The top navigation bar looks fine in the original state…
<img width="1680" alt="screen shot 2017-10-09 at 3 07 17 pm" src="https://user-images.githubusercontent.com/15906764/31339609-b5e846d6-ad03-11e7-96d3-3c1558f13450.png">

…but when we scroll down the page, many sorts of problems arise:

<img width="1680" alt="screen shot 2017-10-09 at 3 07 33 pm" src="https://user-images.githubusercontent.com

[2017-10-09 13:36] marnovo commented on #161
P.s.: @dpordomingo site launch is still a much higher priority than these small quirks. If possible before, nice, otherwise it's ok to fix the following week.

[2017-10-09 13:39] ricardobaeta commented on #161
![image](https://user-images.githubusercontent.com/1746146/31340932-15c67812-ad08-11e7-8e4a-908169c73856.png)

[2017-10-09 14:06] marnovo commented on #161
@ricardobaeta this was always a though choice: to align for the inner content (text) or the outer content (text + padding/highlight when selected? To me either work, couldn't reason why one would be much better than the other… can you? Anyhow the things I pointed at seem less ambiguous and more important, would like your thoughts on them as well.

[2017-10-09 14:08] ricardobaeta commented on #161
@marnovo

If we align the logo left, we have to align the navigation right.

I gave you a 👍 on this! Thanks :)

[2017-10-11 15:27] #156 closed

[2017-10-12 18:22] marnovo opened #165 "Footer social media icons don't show on mobile"
Footer social media icons don't show on mobile

Screenshot:
![screenshot_20171012-120314_01](https://user-images.githubusercontent.com/15906764/31512373-fae8bb9c-af8a-11e7-8a6b-fdf42c54ee4b.jpg)

[2017-10-16 12:41] marnovo opened #174 "Documentation on content-related files and available fields/effects"
We need to create proper documentation on the list of all files and folders related to the landing content and available fields/options available in the YAML and MD files, so that whoever wants/needs to update it not only can understand where to look and how to do it, but also doesn't break anything midway.

[2017-10-16 19:31] dpordomingo opened #180 "Bug in safari when accessing team page"
As reported by @ricardobaeta the team page does not look ok in safary

![image](https://user-images.githubusercontent.com/2437584/31628560-5a322740-b2b1-11e7-94cd-7dd451ce0917.png)

[2017-10-16 19:36] ricardobaeta commented on #180
iPhone SE, Safari iOS 11.0.3

[2017-10-17 04:34] dpordomingo commented on #180
@marnovo @ricardobaeta We can do graceful degradation in Safari as a quick fix, and provide a proper fix after the release.
That way the Safari users will not see the awful circle bug.

It can already be validated in staging http://landing-staging.srcd.run/team/
![image](https://user-images.githubusercontent.com/2437584/31646820-7ab7191e-b304-11e7-93a0-7b9e9ee0bb84.png)

If you agree, it would be

[2017-10-17 08:17] vmarkovtsev opened #185 ""A" should be lower case... I would also replace ; with :"
![image](https://user-images.githubusercontent.com/2793551/31653821-3eb0585c-b324-11e7-9ca2-6f09cafd5134.png)

[2017-10-17 08:18] vmarkovtsev opened #186 "Eiso's blog post about 100 awesome women's image is not cool"
![image](https://user-images.githubusercontent.com/2793551/31653895-76311bae-b324-11e7-9464-dedcf3e5af24.png)

Darkish background, pale logo

[2017-10-17 08:19] vmarkovtsev opened #187 "Mention "big code" anywhere?"
We definitely work with "big code" so can be nice to mention somewhere.

[2017-10-17 08:24] ricardobaeta opened #188 "Slack community Link on Footer's "community" links block."
@dpordomingo

As a user I want to access and *know about* the slack community link on the footer, where it actually says "community".

[2017-10-17 08:27] vmarkovtsev opened #189 ""Open Source Days" link is broken"
Since it points to legacy https://github.com/src-d/guide/blob/master/open-source/open_source_fridays.md

[2017-10-17 08:29] vmarkovtsev opened #190 ""buy you any books" leads to traveling expenses"
This is somewhat confusing.

![image](https://user-images.githubusercontent.com/2793551/31654319-fe537f30-b325-11e7-8b97-25be3cc7df60.png)

[2017-10-17 08:30] marnovo commented on #180
Approved, let's keep this open until we actually fix it.

[2017-10-17 08:37] ricardobaeta opened #191 "Eiso's "Our Roadmap" on Landing Homepage typo"
@dpordomingo

**it really is. We**

[2017-10-17 11:49] vmarkovtsev opened #193 "Twitter testimonial has unprintable emoji"
![image](https://user-images.githubusercontent.com/2793551/31663330-f2f3061c-b341-11e7-8d24-38e8c0c6ffed.png)

Note the rectangles. Can be a problem with my system font... Should we load a bulletproof one?

[2017-10-18 06:29] vmarkovtsev opened #199 "Photos: not the same height"
My perfectionist in me cries bloody tears:

![screenshot from 2017-10-18 08-25-54](https://user-images.githubusercontent.com/2793551/31703772-6d96e838-b3de-11e7-88bf-36dde8662626.png)

[2017-10-18 06:32] vmarkovtsev opened #200 "Provide id for "perks and benefits""
"Perks and benefits" section's h1 does not have an id and it is impossible to reference it (and I will definitely want to reference!)

![image](https://user-images.githubusercontent.com/2793551/31703875-ed090876-b3de-11e7-8ef3-b36f5d66baf4.png)

[2017-10-18 15:07] ricardobaeta opened #202 "Cards on Mobile"
As a mobile user i want to have a visual clue that I'm able to swipe the card to see more of them without thinking that the card I'm seeing is not optimised for mobile as it looks off-canvas  (not all users mental model).

![image](https://user-images.githubusercontent.com/1746146/31726271-61ab4f24-b41e-11e7-8b35-98b9d4693376.png)

[2017-10-20 10:42] dpordomingo commented on #191
done

[2017-10-20 10:42] #191 closed

[2017-10-20 17:14] marnovo commented on #32
@ricardobaeta can you check whether this case happens at any point in our landing/blog? Thanks.

[2017-10-20 17:16] marnovo commented on #126
@ricardobaeta can you confirm this ever happens with you?

[2017-10-20 17:22] marnovo commented on #149
Might be related to the issue infra mentioned (https://github.com/src-d/backlog/issues/1068).
One example are the URLs from YAML files that define the links in the footer.

[2017-10-20 17:23] marnovo commented on #152
@ricardobaeta we still need a template (and apply this template to any cases that aren't conforming).

[2017-10-20 17:34] marnovo commented on #160
Superseded by https://github.com/src-d/backlog/issues/1077, @dpordomingo we can close this.

[2017-10-20 17:36] marnovo commented on #165
@eiso are you still having this problem? Could be migration-related problem.

[2017-10-20 17:36] eiso commented on #165
No works well now.

On Oct 20, 2017 19:36, "Marcelo Novaes" <notifications@github.com> wrote:

[2017-10-20 17:53] marnovo commented on #186
This is according to the original design. Plus, you can just PR a cool picture for it. ;)
P.s.: it will vanish this week once we post the launch post and the brand persona/design guide one.

[2017-10-20 17:58] marnovo commented on #188
Yes, we will link it there once we have: https://github.com/src-d/backlog/issues/1077

[2017-10-20 17:59] marnovo commented on #189
It's fixed by https://github.com/src-d/landing/pull/201
@dpordomingo please closed this.

[2017-10-20 18:02] marnovo commented on #190
It links to the page that has our expense policy (and all it covers), including book buying:
https://github.com/src-d/guide/blob/master/general/expenses_travel.md

Adding the #what-expenses-will-sourced-reimburse means it would very soon break once header text is changed.

@dpordomingo please close this.

[2017-10-20 18:02] marnovo commented on #187
Why and where?

[2017-10-20 18:02] marnovo commented on #185
PRs are welcome. :)

[2017-10-20 18:07] marnovo commented on #193
What is your OS, browser, etc.?
Can you check what font is being actually rendered? Like using: http://www.chengyinliu.com/whatfont.html

macOS 10.12.6, Chrome/Safari:
![screen shot 2017-10-20 at 8 05 45 pm](https://user-images.githubusercontent.com/15906764/31835503-1c444f20-b5d2-11e7-9579-a5ac67c7d0c1.png)

[2017-10-20 18:13] marnovo commented on #200
Request makes sense (also for other ids); will add to the backlog and will solve it in two steps.

[2017-10-20 20:42] #190 closed

[2017-10-20 20:42] #189 closed

[2017-10-20 20:43] #160 closed

[2017-10-21 06:53] vmarkovtsev commented on #187
Because it reads cool; somewhere in our descriptions, e.g. What we do or Eiso's words

[2017-10-21 15:43] #165 closed

[2017-10-22 00:57] jbeardly commented on #187
From my side I prefer avoid any reference to big data.

On Sat, Oct 21, 2017, 3:53 PM Vadim Markovtsev <notifications@github.com>
wrote:

[2017-10-22 07:13] vmarkovtsev commented on #187
*Sigh*

[2017-10-22 07:13] #187 closed

[2017-10-23 07:20] vmarkovtsev commented on #187
Wow, Veselin thinks the same https://github.com/learnbigcode/learnbigcode.github.io

[2017-10-24 09:27] #202 closed

[2017-10-24 09:29] ricardobaeta commented on #126
@marnovo I can't replicate this issue. Desktop & Mobile.

[2017-10-24 09:30] ricardobaeta commented on #199
@dpordomingo Any help from my side on this?

[2017-10-24 09:34] ricardobaeta commented on #32
@marnovo Yes it does and I believe the pills should be aligned with horizontal center alignment on first line. like a bullet.

[2017-10-24 09:55] Serabe commented on #126
![2017-10-24 at 11 54](https://user-images.githubusercontent.com/36221/31936545-291663b8-b8b2-11e7-9744-33b2b2409ab7.png)

I still can.

[2017-10-24 09:57] dpordomingo commented on #32
But... did it happened? Wich resolution/device?
Could you provide a screenshot to spot the place where it appeared?

[2017-10-24 09:58] dpordomingo commented on #199
nope, many thanks @ricardobaeta !! :D

[2017-10-24 10:33] ricardobaeta commented on #32
@dpordomingo Sorry, it's ok now. I didn't noticed before.

![image](https://user-images.githubusercontent.com/1746146/31938313-28ec7b96-b8af-11e7-99b1-4dc95dc199e3.png)

[2017-10-24 10:42] dpordomingo commented on #32
So... we didn't found any problem... right?

[2017-10-24 10:46] ricardobaeta commented on #32
Yes. We can close this.

[2017-10-24 12:35] #32 closed

[2017-10-24 15:10] ricardobaeta commented on #152
- [x] Template https://drive.google.com/open?id=0Bzb_P4eXMOYFS3NuLS1fc1AzV0U
- [x] New Woman https://drive.google.com/open?id=0Bzb_P4eXMOYFMEg1aVlNcndFUFE
- [x] New Man https://drive.google.com/open?id=0Bzb_P4eXMOYFNGs1Z25HQTB0dkk
- [ ] Apply this template to any cases that aren't conforming

![man](https://user-images.githubusercontent.com/1746146/31951384-ddd4e3ec-b8d5-11e7-95ca-a0ce0db776fd.png

[2017-10-25 09:54] ricardobaeta commented on #126
@Serabe What's the url please? Mobile & Desktp?

[2017-10-25 14:03] Serabe commented on #126
[sourced.tech](sourced.tech) See the responsive settings in the image above. In an iPhone 6s Plus can be reproduce going to the page and zooming a bit.

[2017-10-25 14:07] ricardobaeta commented on #126
No need to confirm, thanks a lot @Serabe !

@dpordomingo Do you need anything on my side for this?

[2017-10-25 14:30] dpordomingo commented on #126
I finally could reproduce it following Sergio screenshot.
Trying to fix it

[2017-10-25 14:50] dpordomingo commented on #149
It seems it is not related with src-d/backlog#1068 about docs.
The other one seems to be blocker for @src-d/infrastructure but this one it is not.

[2017-10-25 15:07] dpordomingo commented on #152
I added the template to the project, so it will be available without going into Google Drive.
After the PR https://github.com/src-d/landing/pull/209 is merged, it will be under [/static/img/people/template/team-member-template.psd](https://github.com/src-d/landing/blob/master/static/img/people/template/team-member-template.psd)

[2017-10-25 17:16] dpordomingo commented on #200
Once it has been merged and deployed, the link will be:
https://sourced.tech/careers/#benefits

[2017-10-25 17:37] dpordomingo commented on #185
It'll be deployed to prod once @marnovo validates the PR https://github.com/src-d/landing/pull/209 already deployed into staging
https://landing-staging.srcd.run

[2017-10-25 17:37] #185 closed

[2017-10-25 17:38] dpordomingo commented on #200
It'll be deployed to prod once @marnovo validates the PR https://github.com/src-d/landing/pull/209 already deployed into staging
https://landing-staging.srcd.run

[2017-10-25 17:38] #200 closed

[2017-10-25 17:38] dpordomingo commented on #199
It'll be deployed to prod once @marnovo validates the PR https://github.com/src-d/landing/pull/209 already deployed into staging
https://landing-staging.srcd.run

[2017-10-25 17:38] #199 closed

[2017-10-25 17:38] dpordomingo commented on #152
The placeholder images are already available at staging
https://landing-staging.srcd.run

[2017-10-25 17:40] dpordomingo commented on #126
Hi @Serabe could you confirm in a real device that it's fixed in staging?
https://landing-staging.srcd.run
It should be fixed (I was able to fix it in chrome inspector...)

Many many thanks!

[2017-10-25 22:28] Serabe commented on #126
![1e179ebc-033a-454a-a127-899ec0e18f85](https://user-images.githubusercontent.com/36221/32026407-90894b72-b9e4-11e7-8749-2e31e1ddb470.jpg)

Still happening, though thinner.

[2017-10-26 11:01] dpordomingo opened #212 "Slack form does not work at all in iPhone 7"
He is not able to see any of the slack forms since the redesign was launched.

iOS 10.2, in Chrome and Safary.

Reported by @rporres irl

![image uploaded from ios](https://user-images.githubusercontent.com/2437584/32049116-1c9917de-ba4c-11e7-88b3-0e8e5d8ff7be.png) ![image uploaded from ios 1](https://user-images.githubusercontent.com/2437584/32049206-7734c526-ba4c-11e7-8742-dc7c05983a51.png)

[2017-10-26 11:15] dpordomingo commented on #212
I can not reproduce this bug

[2017-10-26 11:39] rporres commented on #212
I've asked a friend and it looks fine in a regular iPhone 6

[2017-10-26 13:08] marnovo commented on #200
@vmarkovtsev

[2017-10-26 13:18] vmarkovtsev commented on #200
thanks

[2017-10-31 17:29] dpordomingo opened #216 "Follow src-d/ci/Makedile.main conventions"
As it was pointed out by @rporres by https://github.com/src-d/blog/pull/146#discussion_r148014089 the `landing/Makefile` should import and follow [src-d/ci/Makedile.main](https://github.com/src-d/ci/blob/master/Makefile.main) conventions.

copied from https://github.com/src-d/blog/issues/150

[2017-11-02 19:10] dpordomingo commented on #186
Since it was designed that way, I'd close this issue till we have a new design, or a PR proposing a new default image.
Feel free to reopen if needed.

[2017-11-02 19:10] #186 closed

[2017-11-02 19:17] bzz commented on #187
Big Code is mentioned in few papers as "strategy" of ZTH group

[2017-11-02 20:37] eiso commented on #212
@rporres is this still the case on your device?

[2017-11-02 20:39] eiso opened #218 "Adding Francesc to the management team section"
Adding Francesc to the management team section: https://sourced.tech/team/

@marnovo if you're feeling better can you take the photo of @campoy tomorrow, otherwise ask someone to do so the following Friday.

[2017-11-03 09:06] rporres commented on #212
Yes it is. I've only found people around me with iPhone 6 or lower, where it is not reproduced.

[2017-12-19 11:28] smeruelo opened #225 "Move landing container images to dockerhub"
Every public repo should be hosted in https://hub.docker.com/ instead of quay.

Once a new repo in dockerhub is created and images have been copied there, assign this issue to Infra team know so they can configure `drone` to work with the new registry instead.

[2018-01-02 16:40] dpordomingo commented on #174
The scope of this issue was redefined by https://github.com/src-d/backlog/issues/1078

[2018-01-02 18:57] dpordomingo commented on #174
waiting for https://github.com/src-d/landing/pull/226 validation

[2018-01-09 11:04] dpordomingo opened #227 "Update team page considering new people and teams"
- Carlos (Senior Software Engineer at Apps) https://github.com/carlosms
- Maxim (Senior Software Engineer at Apps) https://github.com/smacker
- Denys Smirnov (Senior Software Engineer at LA) https://github.com/dennwc
- Romain Keramitas (Software Engineer Intern at ML) https://github.com/r0mainK

[2018-01-09 11:07] ricardobaeta commented on #227
@marnovo Will we be taking pictures?

[2018-03-01 13:17] dpordomingo commented on #218
I think he was already added:
![image](https://user-images.githubusercontent.com/2437584/36846516-48705f3a-1d5b-11e8-90b0-a9243eb90a03.png)
Feel free to reopen if any change is yet needed :dagger:

[2018-03-01 13:17] #218 closed

[2018-03-01 15:03] dpordomingo opened #236 "Add Anna to the team page"
- Anna https://www.linkedin.com/in/tsolakouanna/

[2018-03-01 15:58] #174 closed

[2018-03-02 10:27] #236 closed

[2018-03-02 11:34] #227 closed

[2018-03-05 10:16] jorgeschnura opened #241 "Change Anna's title from Operations to Talent Manager"
Anna's official title is Talent Manager, but she's currently shown as Operations

[2018-03-05 10:49] dpordomingo commented on #241
the role was taken from https://github.com/src-d/backlog/issues/1236#issue-301478428
It will be updated by https://github.com/src-d/landing/pull/242

[2018-03-06 10:58] #241 closed

[2018-03-06 11:17] dpordomingo commented on #241
@jorgeschnura the  @tsolakoua role was updated and deployed https://sourced.tech/team

[2018-03-06 11:42] tsolakoua commented on #241
@jorgeschnura , we had agreed with @eiso to change my title from Talent Manager to Operations which seems representative as well, at least temporarily until we find a better one for personal career reasons. Taking that into consideration, I would like to change it back to Operations if possible.

[2018-03-06 11:46] dpordomingo commented on #241
It's easy to rollback or update (2min work), so just ping me when you agree on something :D

[2018-06-11 10:30] eiso opened #245 "CI isn't working as desired"
Desired behavior:

Staging:

1. Merge a PR to the landing repo
2. See the changes on our staging site

Production:

1. Merge a PR to the landing repo
2. Create a new release
3. See the new changes on sourced.tech
---------

Currently, I've tried the staging steps, while the build passes, no changes are seen on the staging site.

This is **HIGH** priority since we'll are currently working on the ne

[2018-06-11 15:46] rizome commented on #245
@eiso as explained at https://github.com/src-d/guide/blob/master/engineering/continuous-delivery.md Staging is deployed every time Staging branch is updated.
To see your changes at staging env you can push to `sourced:staging`

[2018-06-11 15:50] eiso commented on #245
Awesome, and to update production, is there a branch?

[2018-06-11 15:57] dpordomingo commented on #245
Every time you release a new version, it is deployed into Prod.
It happens the same for landing, blog and talks.

[2018-06-11 15:58] eiso commented on #245
Thank you!

[2018-06-11 16:43] eiso commented on #245
Leaving this here: https://github.com/src-d/issues-infrastructure/issues/185

[2018-06-13 15:31] bzz commented on #245
Shall we close this, if it was addressed @eiso and it works for you now, or is there anything left?

[2018-06-19 11:30] bzz commented on #245
Closing as it seems to be resolved.

But please, do not hesitate to re-open if that is not the case!

[2018-06-19 11:30] #245 closed

[2018-08-07 02:23] vcoisne opened #247 "Add a Tracker Domain for Pardot"
As part of the Salesforce Pardot technical setup, I would like to add tracker domains to our account using CNAME records for link rewriting and vanity URLs.

To do that we need to:

1. Set up a CNAME record for a go.sourced.tech subdomain and set the record to point to go.pardot.com.

2. Add validation keys to the sourced.tech domain.  We can add the validation key in two ways

• Copy the domain’s

[2018-08-07 02:39] vcoisne commented on #247
Duplicate issue. Closing.

[2018-08-07 02:39] #247 closed

[2018-08-09 22:26] campoy opened #248 "Update team page"
New members are missing such as @vcoisne, and some pictures were retaken and have not been updated yet (e.g. mine).

[2018-08-09 22:27] campoy commented on #248
This can obviously wait for the next web version, but it should not be forgotten.

[2018-08-28 01:08] vcoisne opened #263 "Embed newsletter sign up form in the footer"
I think we'd have higher conversation rate if we embed the sign up form on the website itself (in the footer) vs pointing people to an external landing page.

Here is the embed code:

`<iframe src="http://go.sourced.tech/l/578561/2018-08-17/397lv" width="100%" height="500" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>` #

[2018-08-28 14:57] ricardobaeta opened #271 "Improve the buttons on Quotes Carousel"
Right now the buttons are barely noticeable.

[2018-08-28 14:58] ricardobaeta opened #272 "Clickable Card on Open Source Projects"
We need to add a behavior so that people can click on Open Source projects in the OSS pages for example in the text/title/card, no just in the github icon.

[2018-08-28 16:40] carlosms opened #274 "Out of sync sass and generated css"
PR #268 changed a css file directly instead of updating the source sass and generating the result.
The files are now out of sync.

For reference, the correct way would be:
- Install sass: https://sass-lang.com/install
- generate css from scss:
[code]

Ideally the CI would catch this problem. Or we would not commit the css files and they would be generated on the build step.

cc @ricardobaeta

[2018-08-29 10:16] eiso commented on #274
@ricardobaeta can you please make a PR to update the SASS for #268, so that I can generate the css from sass and release.

[2018-08-29 10:16] #271 closed

[2018-08-29 10:17] #41 closed

[2018-08-29 10:17] #126 closed

[2018-08-29 10:17] #149 closed

[2018-08-29 10:17] #152 closed

[2018-08-29 10:17] #161 closed

[2018-08-29 10:17] #180 closed

[2018-08-29 10:17] #188 closed

[2018-08-29 10:17] #193 closed

[2018-08-29 10:17] #212 closed

[2018-08-29 10:27] ricardobaeta commented on #274
Sorry about this Eiso, https://github.com/src-d/landing/pull/277

Thanks @carlosms for the catch!

[2018-08-29 11:14] eiso commented on #274
Fixed and deployed to staging (and will be in the next RC).

[2018-08-29 11:14] #274 closed

[2018-08-29 14:57] ricardobaeta commented on #248
Closing this per objective accomplishment.

[2018-08-29 14:57] #248 closed

[2018-09-26 09:55] tsolakoua opened #282 "New roles don't get published on our website"
related to #310

- I noticed yesterday that the new published positions ([Lead](https://hire.lever.co/jobs/postings/edit/5b7d11dd-03ce-4d61-a00a-ff91ae1ec270?view=all&status=published) and [QA](https://hire.lever.co/jobs/postings/edit/8e4c4c54-096a-4050-9882-6ae1ca71d8a0?view=all&status=published)) are not shown on our landing page.
- They are definetely published on [Lever](https://jobs.lever.co/

[2018-09-26 12:17] ricardobaeta opened #283 "Correction on source{d} svg logo artifact"
As we can see by the image bellow, the current svg source{d} logo has some strange vector artifacts.

![image](https://user-images.githubusercontent.com/1746146/46079228-cf2eb500-c196-11e8-90a5-23950af86d54.png)

[2018-09-27 16:13] carlosms commented on #282
PR #284 is a workaround with a manual update of the job openings.
Let's keep this issue open to add the integration with lever when we have some more time.

[2018-10-05 17:12] tmott13 commented on #272
Hi @ricardobaeta ,

I re-created this issue in JSFiddle and this is the solution I came up with:

`<div class="row highlight-cards mb-4">
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="https://doc.bblf.sh/" target="_blank">
      <div class="card text-white orange h-100">
        <div class="card-body p-5">
          <i class="ic icon-git text-white"></i>
          <p class="card-intro mb-0">C

[2018-10-08 10:54] marnovo commented on #272
Hi @tmott13, let's keep the discussion going though the [PR review](https://github.com/src-d/landing/pull/288). Thanks. :)

[2018-10-10 17:47] aliciakozlowski opened #290 "Problem with Contributing Guideline set up"
- Versions:
  - Go: `go version go1.11.1 darwin/amd64`
  - Yarn: `1.10.1`
- I was going through the [development part of Contributing Guidelines](https://github.com/src-d/landing/blob/master/CONTRIBUTING.md#development) to run the server locally so I could make a make some changes to the project for a PR, and kept running into an error.
- All of the previous requirements listed in the guidelines a

[2018-10-10 18:19] carlosms commented on #290
It looks like we have a bug and make does not install the frontend dependencies.

Please try:
[code]

[2018-10-10 18:22] carlosms opened #291 "Missing yarn dependencies in Makefile"
Commit da3f0fd removed the `js-dependencies` execution from the Makefile, but it is needed, at least, by `make serve`.

Related issue: #290.

[2018-10-11 10:43] aliciakozlowski commented on #290
Tried to run through it again, still running into trouble...

[code]

After trying to run the `make serve` again this error came up multiple times:

[code]

[code]

[2018-10-11 12:20] smacker commented on #290
I was able to build landing with this changes:
https://github.com/src-d/landing/pull/292

[2018-10-12 08:21] carlosms opened #293 "Automate sass generation"
We have sass and css commited in the repo. But the css is not generated automatically, and we don't document how to do it in [contributing](https://github.com/src-d/landing/blob/master/CONTRIBUTING.md). Maybe something like

- Install sass: https://sass-lang.com/install
- generate css from scss:
[code]

I think we should have a check in CI for out of sync css, or remove it from the repo and genera

[2018-10-17 00:32] ConnorBrereton commented on #263
Can I take a crack at this?

[2018-10-17 01:07] vcoisne commented on #263
@ConnorBrereton sure, thanks :) we'll add the Hacktoberfest label.

[2018-10-17 01:18] ConnorBrereton commented on #263
@vcoisne awesome!

[2018-10-17 01:29] ConnorBrereton commented on #263
@vcoisne when you say footer do you mean in the "try-sourced.html"  after the _install_ and _demo_  ?

[2018-10-17 01:34] vcoisne commented on #263
I was thinking in the actual footer at the same level as the social media icons @ConnorBrereton

[2018-10-17 05:40] ConnorBrereton commented on #290
Ran into issues as well. Note this is pre
[code]
will post output after trying that fix after first output (see below):
[code]
seems that all builds are going along just fine
`Entrypoint main [big] = js/bundle.js css/style.css js/bundle.js.map css/style.css.map`

until here where it hung
`Syncing /css/style.css to /Users/connor/go/src/github.com/src-d/landing/public/`

[code]
and the #292 fix is p

[2018-10-17 09:10] smacker commented on #290
hi @ConnorBrereton !

it doesn't "hang", it's listening for changes.
You can try to open http://127.0.0.1:8081/ and see that it works.

[2018-10-17 16:55] ConnorBrereton commented on #290
@smacker I did, having figured that the site must be live, and the page rendering on Chrome, Safari, and Firefox hung giving the "refused to connect" message.

[2018-10-22 14:22] meyskens opened #299 "Click targets on buttons to change quotes"
When I try to go to the next quote on the "Trusted by top engineers at world leading companies" section the button seems broken, however the clock target is on the left edge of the button and not the whole button.

I use Firefox 62 Linux 64 bit

[2018-10-25 18:14] malgamves commented on #263
Let's see if I can get this done

[2018-10-25 18:18] vcoisne commented on #263
@malgamves let me give you an embed code just for the email (no need to have First and Last name)

[2018-10-25 18:21] vcoisne commented on #263
@malgamves embed code is email only now :)

[2018-10-25 18:38] malgamves commented on #263
Sure, can I have the new code @vcoisne ?

[2018-10-25 19:01] vcoisne commented on #263
It’s the same code :)

On Thu 25 Oct 2018 at 11:38, Daniel Phiri <notifications@github.com> wrote:

--
*Victor Coisne*
Head of Developer Community *|**| *source{d} <http://sourced.tech/>
Blog <http://blog.sourced.tech/>* | *Twitter <https://twitter.com/vcoisne>
*|* LinkedIn <https://www.linkedin.com/in/victorcoisne/>* | *Github
<https://github.com/vcoisne/>
*USA*: +1 415 216 6122
San Francisco | M

[2018-10-25 19:03] hajro92 commented on #299
May I give it a try? :)

[2018-10-31 12:32] aliciakozlowski opened #308 "Favicon issues on chrome, safari, firefox"
Despite the favicon showing up in a google search, when you use Google Chrome or Firefox the source{d} favicon is nonexistent
Shown (in chrome):
<img width="226" alt="screen shot 2018-10-31 at 13 25 35" src="https://user-images.githubusercontent.com/43578215/47788032-e2422100-dd10-11e8-9a74-e8c056756960.png">

I checked Safari to see the status and it shows as a generic "S" and not the appropriate

[2018-10-31 14:03] dpordomingo opened #310 "New blog posts don't get published on our website"
related to #282

After the redesign, the latest blog posts are no longer published in our landing.
Should this feature be restored?

[2018-10-31 14:05] dpordomingo commented on #310
I just assigned this question to @campoy and @marnovo, but since @eiso was also involved in the development of the redesign, he might be also interested in this issue.

[2018-10-31 14:14] #272 closed

[2018-10-31 14:19] dpordomingo commented on #272
Many thanks @tmott13 for the fix merged via https://github.com/src-d/landing/pull/309!

[2018-10-31 15:20] dpordomingo opened #311 "Static generation was removed after the redesign"
causing #290 #293 #291

The generation of the static files should be restored

[2018-10-31 15:30] dpordomingo commented on #311
things to consider:
https://github.com/src-d/landing/pull/255/files#diff-b67911656ef5d18c4ae36cb6741b7965R100
https://github.com/src-d/landing/pull/292/files#diff-11e9f7f953edc64ba14b0cc350ae7b9dL13

[2018-10-31 16:00] dpordomingo commented on #263
I'm trying it locally and came across two different problems:
- there might be problems with https, cross-origin and [_framebusting_ in chrome](https://www.chromestatus.com/features/5851021045661696)
- it's an iframe with no design, what could be disapproved by @ricardobaeta
![image](https://user-images.githubusercontent.com/2437584/47801334-445d4f00-dd2e-11e8-9873-8e0e93cbabaf.png)

[2018-10-31 17:35] marnovo commented on #310
Most definitely yes.

[2018-10-31 18:32] campoy commented on #310
Yes, please. Let's fix this.

[2018-10-31 20:11] #308 closed

[2018-10-31 20:13] dpordomingo commented on #308
Fixed by https://github.com/src-d/landing/pull/312
@aliciakozlowski you should be able to validate the fix at staging https://landing-staging.srcd.run ; does it suit you?

[2018-11-01 04:02] campoy opened #314 "favicon.ico not working"
Visited our website on Chrome for Mac Version 71.0.3578.20

favicon.ico did not display on any of the pages, as snapshots show

<img width="331" alt="screen shot 2018-10-31 at 9 02 14 pm" src="https://user-images.githubusercontent.com/2237452/47831984-43d5b000-dd50-11e8-8f28-47abf0b4232b.png">

<img width="264" alt="screen shot 2018-10-31 at 9 02 03 pm" src="https://user-images.githubusercontent.c

[2018-11-01 04:08] campoy opened #315 "Social cards not working"
## Twitter

On Twitter the image doesn't show any logo, as you can check on https://cards-dev.twitter.com/validator

<img width="1003" alt="screen shot 2018-10-31 at 9 03 26 pm" src="https://user-images.githubusercontent.com/2237452/47832038-7e3f4d00-dd50-11e8-8bff-621615c6e221.png">

And for deeper pages such as sourced.tech/engine the description doesn't match the page.

<img width="979" alt="sc

[2018-11-01 12:41] dpordomingo commented on #314
duplicated https://github.com/src-d/landing/issues/308

[2018-11-01 12:41] #314 closed

[2018-11-06 22:30] #290 closed

[2018-11-06 22:30] #291 closed

[2018-11-06 22:30] #293 closed

[2018-11-06 22:30] #311 closed

[2018-11-06 22:51] #299 closed

[2018-11-07 15:14] dpordomingo commented on #315
could you provide our `fb:app_id`?

![image](https://user-images.githubusercontent.com/2437584/48140028-3799a780-e2a8-11e8-82fb-f2d831e067f7.png)

[2018-11-07 20:17] campoy commented on #315
I don't care as long as it displays correctly, not sure how serious that link is.
If needed, we do have a facebook page, maybe @vcoisne can help providing the details.

[2018-11-08 16:51] marnovo commented on #263
Yes, as this is a feature request, the actual acceptance/implementation is up to product & apps, otherwise frankensteins as the above are born. :)

[2018-11-09 15:01] dpordomingo commented on #315
@campoy @vcoisne I think it's not a link but an app id.
After reviewing some info about it, seems to be related to gathering analytics from fb apps that might be not being used by us.

Ignoring that field, I deployed the fix into staging and it works, so the PR is now ready to be validated/merged/deployed.
https://github.com/src-d/landing/pull/323

If you prefer to validate the changes in producti

[2018-11-09 17:49] dpordomingo commented on #314
it's already in prod :D

[2018-11-12 11:12] ricardobaeta commented on #283
Hi @dbeezt ! Thanks for caring! We're actually working on this. You can see the updated logo in our [source{d} Media Kit](https://github.com/src-d/artwork/blob/master/media-kit/README.md). We'll soon update it on the website.

[2018-11-13 12:48] dpordomingo commented on #310
The PR https://github.com/src-d/landing/pull/322 is ready to be validated :D
Already deployed into staging https://landing-staging.srcd.run/community

[2018-11-13 12:48] dpordomingo commented on #282
The PR https://github.com/src-d/landing/pull/322 is ready to be validated :D
Already deployed into staging https://landing-staging.srcd.run/community

[2018-11-13 14:31] #282 closed

[2018-11-13 14:31] #310 closed

[2018-11-13 16:02] tsolakoua commented on #282
Thank you @dpordomingo 🥇

[2018-11-14 00:42] campoy commented on #314
That's not the good one, though. Don't we have one that matches the new branding guidelines?

[2018-11-14 00:56] campoy commented on #310
I would expect https://landing-staging.srcd.run/ to show the latest blog post, right?
Instead I see the PGA announcement

[2018-11-14 10:54] dpordomingo commented on #315
Deployed into production
https://sourced.tech

[2018-11-14 11:47] dpordomingo commented on #314
I just recovered the previous one.
I was not aware of new branding guidelines, I'll ask about that, and update it.

[2018-11-14 16:44] dpordomingo commented on #310
I'm seeing the "splitting millions of &hellip;" blog post in:
- last post in our blog https://blog.sourced.tech/
- first card in production https://sourced.tech/
- first card in staging https://landing-staging.srcd.run/

Could it be a problem with your browser cache?

[2018-11-14 20:06] campoy commented on #314
@ricardobaeta should know about this,thanks!

[2018-11-14 20:13] campoy opened #325 "Change `NEW` announcement to point to the Engine video post"
I would like to update the announcement banner on the landing from PGA (shown below)

<img width="656" alt="screen shot 2018-11-14 at 12 11 56 pm" src="https://user-images.githubusercontent.com/2237452/48509650-8abead80-e806-11e8-87aa-80d41274cd61.png">

to a link to the blog post we wrote presenting the video for the engine.

The announcement should read something like "Watch a 5 minutes video to

[2018-11-14 20:14] campoy commented on #310
Oh, I misunderstood what you meant by latest update!

Ok, so this issue is fixed 🎉 and I created a new one to update the PGA announcement to something more relevant #325.

[2018-11-14 22:30] dpordomingo commented on #325
(a) Should the NEW section retrieve content automatically from somewhere (like «latest updates» or «job offers» section)?
(b) Or is that section static and should it be edited > PR > released/deployed?

If it's (a), from where?
If it's (b) —I'd vote for it— it's easier: I'd load its contents from a new subkey under [hugo.config.yaml::params](https://github.com/src-d/landing/blob/master/hugo.config

[2018-11-16 18:48] campoy commented on #325
I'm happy with b, as long as it's easy to change over time.

[2018-11-16 19:29] dpordomingo commented on #325
ready to be merged/deployed https://github.com/src-d/landing/pull/327 ;)

[2018-11-26 19:59] vcoisne opened #329 "Links to landing pages should point to https URLs"
- [x] On https://sourced.tech/community/#resources link to newsletter should be https://go.sourced.tech/newsletter
- [x] On https://sourced.tech/  "request a demo" buttons in the header and bottom Call to Action should point to https://go.sourced.tech/engine
- [ ] On https://sourced.tech/lookout/ "Sign up" button should be "Request a demo" and point to https://go.sourced.tech/lookout/

[2018-11-27 18:03] #325 closed

[2018-11-28 14:17] dpordomingo commented on #325
already at prod
:dancer:

[2018-12-02 19:28] dpordomingo opened #331 "Integrate landing with ghost blogging platform"
caused by https://github.com/src-d/product/issues/351

Since our blog is going to be served by `ghost` instead of `hugo` it is needed to choose between:

1. fetch the posts directly from the landing frontend (using [ghost sdk](https://api.ghost.org/docs/ajax-calls-from-an-external-website)):
    - no cache (if ghost server fails, no posts will be shown -> it can be reasonable),
    - it is needed

[2018-12-02 19:31] dpordomingo commented on #331
@vcoisne @campoy in case you prefer option **1** you should configure `Access-Control-Allow-Origin` for `prod` and `staging`.

What would you prefer?

[2018-12-04 00:05] campoy commented on #331
This is pretty technical and doesn't really matter for the person visiting the website, so it's completely up to you.

If we go with option 1, and since there's no security concerns, we can go with the easiest config and allow all origins.

[2018-12-04 07:02] dpordomingo commented on #331
I just asked because someone of you is taking care of the migration and configuration of the new blog :wink: (idk yet who is doing the technical things)

So great, let's go with **1**.
Please ping me when `Access-Control-Allow-Origin: *` has been set in Ghost blog and I'll prepare the integration with the Landing.

[2018-12-10 17:02] creachadair opened #332 "Clarify call to action and relevant links on the Lookout landing page"
From https://github.com/src-d/empathy-sessions/issues/31.

The landing page for lookout does not currently contain links to developer-oriented instructions. On https://sourced.tech/lookout/, the calls to action are

1. Request a demo (leads to a contact form),
2. Install Engine (not the same product),
3. Sign up for the beta (a forward jump to another button, that leads to a contact form).

Althou

[2018-12-11 05:35] dpordomingo commented on #332
that's true!
I'll purpose a change in the section where `engine` is linked instead of `lookout` (because it is the `lookout` landing page!! :scream: )
Maybe @src-d/product could consider your other suggestions about helping the developers to reach our lookout code/docs.

[2018-12-12 17:07] marnovo commented on #263
@vcoisne @dpordomingo update on this: the design for the Ghost blog will include this feature and we will reuse the code for the landing.

[2018-12-17 16:52] tsolakoua opened #337 "Buttons in careers page not aligned"
It seems that the "View and Apply" buttons are not aligned properly - check Senior product manager, Senior Test Engineer

<img width="895" alt="screenshot 2018-12-17 at 5 48 42 pm" src="https://user-images.githubusercontent.com/15012967/50101929-20919200-0224-11e9-9287-38d761fc955e.png">

[2018-12-17 18:20] dpordomingo commented on #337
In the current design/layout, the buttons depend on the content height, so different role names impact on them.
Since it was coded that way during the redesign, @ricardobaeta should confirm if it was on purpose or something unexpected.

**alternative**: align the button to the bottom of the card

[2018-12-18 08:57] tsolakoua commented on #337
@dpordomingo thanks! I think a few weeks ago it didn't seem like that or at least it was and I didn't notice.

[2018-12-18 10:05] dpordomingo commented on #337
The css didn't change. The "issue" was not noticed before, because at that moment the offers were sorted in a way that all cards in the same row had the same `offer.title` size; at some point, it was added a new job offer, and the rows were not grouped that way.
Now, the jobs are fetched from Lever, so the order is defined by them; what we need is to align the button to the bottom if it is a probl

[2018-12-18 11:53] tsolakoua commented on #337
In my opinion, it's something should be changed if possible as it doesn't look very nice but the final decision should be taken by @ricardobaeta as it's a design related issue.

[2018-12-20 00:15] vcoisne commented on #329
Ping @marnovo

[2018-12-20 10:42] dpordomingo commented on #329
I think that the 2nd one is addressed by https://github.com/src-d/landing/pull/340

[2018-12-20 10:52] dpordomingo commented on #332
I reviewed your point `2`, and there is a reason for that:

It make sense to change it to announce **source{d} Lookout** in its own landing page, but it should be approved by @src-d/product

[2018-12-20 18:19] vcoisne commented on #263
Sounds good, thanks. Closing this one then.

[2018-12-20 18:19] #263 closed

[2019-01-10 14:29] marnovo opened #341 "Update favicon to new branding"
Follow up from https://github.com/src-d/landing/issues/314.

The favicon is outdated given the now months-old new branding.
<img width="252" alt="screen shot 2019-01-10 at 12 25 14 pm" src="https://user-images.githubusercontent.com/15906764/50974874-6106c780-14d3-11e9-9ff8-a2c8fd48cd0c.png">

Update the favicon from the landing to the one available in the [Brand Style Guide media kit](https://docs

[2019-01-10 16:32] dpordomingo commented on #341
@ricardobaeta could you please ping us once we have replacements for these three ones?
- `ICO` `16x16` https://raw.githubusercontent.com/src-d/landing/master/static/favicon.ico
- `PNG` `32x32` https://github.com/src-d/landing/blob/master/static/img/logos/favicon.png
- `PNG` `64x64` https://github.com/src-d/landing/blob/master/static/img/logos/favicon96.png

[2019-01-11 01:09] marnovo commented on #341
@dpordomingo do we really need all these formats/sizes? A.k.a. don't browsers resize these well from a single png for a few years? If there's good reason to do so, @ricardobaeta can provide them.

[2019-01-11 10:58] dpordomingo commented on #341
I have no clear `yes/no` answer.
I'd say that in order to keep the current compatibility, we should replace the existent ones, and then investigate later if we should provide less or even more.
From a quick google search, I found that it can be even more complex than I imagined:
https://css-tricks.com/favicon-quiz

_aside:_
Even being an old format, the `favicon.ico` under the web root directory i

[2019-01-11 12:11] ricardobaeta commented on #341
@dpordomingo Here you go! https://docs.google.com/presentation/d/1q290ZrAMola1nSwzYmScOo3gsMgEIXKi2BsWgnMY078/edit#slide=id.g499db0cd7a_0_44

[2019-01-14 11:55] #341 closed

[2019-01-14 14:30] ricardobaeta commented on #337
@dpordomingo This is something we can address firstly in the [source{d} UI Pattern Library](https://github.com/src-d/design/blob/master/ui-pattern-library/README.md)?

[2019-01-14 14:41] dpordomingo opened #343 "Update social card and blog logos to new branding"
similar than #341

we need replacements for:
- source{d} logo used in social cards when sharing landing pages (as described by #323)
  - `PNG` `1200x630` [static/img/logos/logo-bg-blue.png](https://github.com/src-d/landing/blob/master/static/img/logos/logo-bg-blue.png)
  - `PNG` `1200x630` [static/img/logos/logo-bg-white.png](https://github.com/src-d/landing/blob/master/static/img/logos/logo-bg-wh

[2019-01-14 14:41] dpordomingo commented on #341
deployed into PROD

[2019-01-15 10:58] dpordomingo commented on #337
It seems to be already in the shared sketch file, so it seems to be a bug when the layout was implemented.
![image](https://user-images.githubusercontent.com/2437584/51176235-b15b9c00-18bc-11e9-8213-15048c4df02c.png)
Thanks for sharing.

[2019-01-17 11:20] znegrin opened #344 "Error with node when trying to install package.json"
I cloned the project but I keep getting an error, apparently related to node:

`/usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install --scripts-prepend-node-path=auto
module.js:472
    throw err;
    ^

Error: Cannot find module 'isarray'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:

[2019-01-17 12:07] #343 closed

[2019-01-17 12:14] dpordomingo commented on #344
@znegrin which command did you run to get that error?

[2019-01-17 12:22] dpordomingo commented on #343
Many thanks @ricardobaeta
Already available at prod.

from https://cards-dev.twitter.com/validator

![image](https://user-images.githubusercontent.com/2437584/51318522-e271d300-1a5a-11e9-88a8-16379264ecb0.png)

[2019-01-17 13:00] znegrin commented on #344
I am using Phpstorm and it suggests me to run "npm install" to install an "aslant" package.
It shows this settings:

![image](https://user-images.githubusercontent.com/14981468/51320447-20bdc100-1a60-11e9-87da-b15a63cc156b.png)

[2019-01-17 15:10] dpordomingo commented on #344
Wow ...
No idea.
I wonder if it was because PHP Storm tried some strange configuration for Landing.
In our case, just follow our guide to run the landing from:
https://github.com/src-d/landing/blob/master/CONTRIBUTING.md#development-and-running-the-landing-locally

In your case, I think the second way will suit your necessities better because of the hot reloading feature:
[code]

Let me know if it

[2019-01-17 16:19] gedw99 opened #346 "i18n"
have a look at lets encrypt.
they have i18n with hugo working really nicely

https://github.com/letsencrypt/website
- https://github.com/letsencrypt/website/blob/master/TRANSLATION.md
- Needs some golang code to automate it with https://github.com/go-playground/universal-translator

[2019-01-17 18:57] dpordomingo commented on #346
Could you please explain what problem are we trying to solve?
Could you describe better the user story?

Many thanks,

[2019-01-17 22:32] vcoisne opened #347 "Update download Engine link to point to Pardot form"
Per https://github.com/src-d/feature-idea/issues/88 Every engine dowload links on https://sourced.tech/ should now point to https://go.sourced.tech/engine-download instead of https://docs.sourced.tech/engine/#quickstart

Here is the pages / links that need to be updated:

- On the homepage / every page in the header menu CTA button and bottom of every page CTA
- On https://sourced.tech/engine/ "in

[2019-01-17 22:38] ricardobaeta commented on #347
@dpordomingo @vcoisne I'll update the Logo on the Header and Footer, and the typography colours on the latter, on Pardot asap.

[2019-01-17 22:54] vcoisne commented on #347
thanks @ricardobaeta, forgot about the new logo :)

[2019-01-18 11:49] dpordomingo commented on #347
Just giving my opinion as a user.

There are these two buttons on https://sourced.tech/engine/

![image](https://user-images.githubusercontent.com/2437584/51384931-0d712b00-1b1e-11e9-9282-28a66f33d072.png)

- `Request a demo` points to https://go.sourced.tech/engine
- `Install source{d} Engine` points to https://docs.sourced.tech/engine#quickstart

Should both of them poit to the very same place?

[2019-01-22 23:18] vcoisne commented on #347
Hey @dpordomingo, thanks for the feedback.

They are both landing pages but not the same.

1. Request a demo = http://go.sourced.tech/engine

2. Install = http://go.sourced.tech/engine-download

I updated the completion action of the "request a demo" landing to make sure there is a thank you message and allow users to return to the landing page after completion. Once they fill out the form either

[2019-01-23 10:32] ricardobaeta commented on #347
Hi @vcoisne ! This [PR](https://github.com/src-d/landing/pull/348) that you can actually see on https://landing-staging.srcd.run/ (with a couple more changes) is about to be merged. As soon as it is I'll update the Pardot Landing Template, that will update all Landings.

[2019-01-24 15:34] dpordomingo commented on #347
thanks, @vcoisne for the feedback!

yes, having two different links lgtm (I didn't realize about they were already different)

I tried https://go.sourced.tech/engine-download with two different emails, and I got the `Thank you!'' message, saying you will recieve an email with the download link...` But ~10 mins later I received nothing (it's weird: nor inbox nor spam).

I'd recommend adding a link

[2019-01-24 20:54] vcoisne commented on #347
@dpordomingo I just tried and got the email 1m later. Try again with a different email in incognito mode ?

Not using the latest tag, I will have to update the release link manually I guess.

[2019-01-28 19:41] dpordomingo commented on #347
I tried with two different emails with no success, and then I tried with a third one successfully.
Then, I tried again with the third one with no success.

Might be the reason that two first attempts were with an already used email, and the third one with a brand new email?
If so, is this the expected behavior?
What if a visitor (that already shared their email) wants to download one of our produc

[2019-01-30 16:36] dpordomingo opened #355 "Update Dependent Files in CONTRIBUTING.md"
caused by https://github.com/src-d/product/issues/365

[**Dependent Files**](https://github.com/src-d/landing/blob/master/CONTRIBUTING.md#dependent-files) section in `CONTRIBUTING.md` should be updated considering changes made by https://github.com/src-d/product/issues/365

[2019-01-31 09:56] dpordomingo opened #357 "Link Lookout docs (and maybe MLonCode) in Landing"
Currently:
![image](https://user-images.githubusercontent.com/2437584/52046136-4958b700-2546-11e9-8830-868a0a29722d.png)

I'd purpose to add **source{d} Lookout** (and maybe **MLonCode**) docs
![image 1](https://user-images.githubusercontent.com/2437584/52046137-4958b700-2546-11e9-890f-3db505f69aae.png)
- **MLonCode** docs: https://docs.sourced.tech/intro
- **source{d} Lookout** docs: https://docs

[2019-02-11 09:41] ricardobaeta commented on #347
@marnovo @dpordomingo @vcoisne This is addressed in this PR https://github.com/src-d/landing/pull/359

[2019-02-12 17:51] dpordomingo commented on #347
this was deployed as part of https://github.com/src-d/landing/releases/tag/v4.8.1

[2019-02-12 17:51] #347 closed

[2019-02-13 14:21] marnovo commented on #329
First two are done and the link of the 3rd is fixed, just missing renaming the Lookout page button from `Sign Up` to `Request Demo` making it analogous to the Engine page.

[2019-02-21 10:41] dpordomingo opened #362 "Strange behaviors in category tabs in engine slider"
caused by https://github.com/src-d/landing/pull/361#issuecomment-465091444

I spotted some things that could be improved in category tabs from source{d} Engine page:

### mobile view
in the mobile view, tabs are not clear enough and are vertically uneven; they also change their height when changed from one to another.
![image](https://user-images.githubusercontent.com/2437584/52652744-f6401600-2ee

[2019-02-21 10:42] dpordomingo commented on #362
here is the issue you suggested to create @marnovo @ricardobaeta

[2019-02-21 14:07] marnovo commented on #331
Related epic: https://github.com/src-d/backlog/issues/1346

[2019-02-22 21:02] vcoisne commented on #357
@dpordomingo @ricardobaeta @campoy @eiso  I think we should only link to the source{d} Lookout docs.

I don't think we should have an ML on Code documentation page. IMO That content needs to be updated and added to the website instead.

[2019-02-25 11:39] ricardobaeta opened #364 "Solving Cards Navigation Tabs Responsive Behavior"
Although the new source(d} Engine Product Page was launched, one issue remained to be addressed. Per @dpordomingo [suggestion](https://github.com/src-d/landing/pull/361#issuecomment-462846569) we should enhance the behavior of the use-cases cards tabs for mobile. https://sourced.tech/engine/

![image](https://user-images.githubusercontent.com/1746146/53334892-f29a8f00-38f1-11e9-816c-5c148de5099e.p

[2019-02-25 13:05] #364 closed

[2019-02-26 13:41] ricardobaeta opened #365 "Replace text with logos for Engine & Lookout Pages"
Following our [Brand Guidelines](https://docs.google.com/presentation/d/1q290ZrAMola1nSwzYmScOo3gsMgEIXKi2BsWgnMY078/edit#slide=id.g4622ee0749_3_11), we should replace the textual designation of the Engine & Lookout on their Product Pages, for their logos.

**Website**

![image](https://user-images.githubusercontent.com/1746146/53416782-17fbcb80-39cc-11e9-9c0f-7d828ef76943.png)

**Brand Style Guid

[2019-03-01 10:25] dpordomingo commented on #365
I'd try something like:
[code]
For simplicity.

But not a SEO nor accessibility expert.

[2019-03-04 23:35] vcoisne opened #368 "Website header top navigation bar updates"
1. Add Blog as a top-level Item in the header navigation bar

Right now the only link to the blog from the website is at the bottom of the homepage. As a result, the traffic to the blog has gone done over the past few months. Once our Ghost blog platfrm goes live, I'd like to add a "Blog" link as part to the top Nav.

2. Move Open Source as a sub-page under community

If we had "Blog" as top nav i

[2019-03-04 23:40] vcoisne commented on #368
Moved to feature-idea repo https://github.com/src-d/feature-idea/issues/124

[2019-03-04 23:40] #368 closed

[2019-03-11 10:40] ricardobaeta commented on #365
@dpordomingo Already PR'd here https://github.com/src-d/landing/pull/369

[2019-03-13 12:13] vmarkovtsev opened #370 "I cannot copy text of the office address"
from https://sourced.tech/company/
![Screenshot 2019-03-13 at 13 12 04](https://user-images.githubusercontent.com/2793551/54278022-9f7f3800-4591-11e9-9418-bda4452f5650.png)

I cannot select the text and copy it. As soon as I click, I go to Google Maps.

[2019-03-14 12:00] dpordomingo commented on #370
You're right @vmarkovtsev
@ricardobaeta could you provide an alternative?

idea:
- to attach the gmaps behavior to a visual element (a map, a magnifier icon...), so the user will know that clicking in that item will open something. That way, text will be text, and icons will trigger actions.

workaround @vmarkovtsev
- you can copy text if during the selection process you perform the `mouseup` outs

[2019-03-14 17:26] dpordomingo opened #371 "Latest news (blog posts) section is broken"
blocked by https://github.com/src-d/landing/issues/331

Images are broken, and after the next deploy, it will totally disappear.
![image](https://user-images.githubusercontent.com/2437584/54377958-8d32f600-4686-11e9-862b-03fd65e6d8f8.png)

[2019-03-14 19:41] marnovo commented on #331
@dpordomingo do you need confirmation of https://github.com/src-d/landing/issues/331#issuecomment-443993554 to proceed?

@rporres could you check that in the admin panel please (instructions at https://github.com/src-d/landing/issues/331#issue-386590857)?

[2019-03-15 09:19] dpordomingo commented on #331
Since we agreed to go with **1**, CORS should be configured in ghost.
I read  [aboutCORS in their docs](https://api.ghost.org/docs/ajax-calls-from-an-external-website)

[2019-03-15 12:09] marnovo commented on #331
@dpordomingo @rporres Emailed ghost support so they add our blog to the trusted list to avoid CORS errors.

[2019-03-18 09:26] dpordomingo commented on #331
Following their docs about their `Content API` it is needed to provide a `key` that [can be generated from Ghost admin panel](https://docs.ghost.org/api/content/#key)

Once you create a new `Custom Integration Key` the Content API should work at:
https://blog.sourced.tech/ghost/api/v2/content/posts/?key=__NEW_KEY_GOES_HERE__

I deployed a new version in staging using a Ghost example, you can see o

[2019-03-20 14:12] marnovo commented on #331
@dpordomingo:

Field           | Value
--              | --
Content API Key | 842234e3cc759da920cb8244f3
API URL         | https://sourced.ghost.io/

Yup seems to work:
https://landing-staging.srcd.run/?key=842234e3cc759da920cb8244f3

Also it allows webhooks if we think we need it for some reason:

<img width="581" alt="Screen Shot 2019-03-20 at 3 09 19 PM" src="https://user-images.githubuserconte

[2019-03-21 16:11] #331 closed

[2019-04-04 03:08] vcoisne opened #376 "Website updates proposal"
In order to refocus our messaging around source{d} Engine, I propose the following changes on the website

- [ ] New header navigation menu

- Why source{d}? [New]
- source{d} Engine
- Resources [new]
   - Blog
   - Forum
   - Docs (Move under Resources)
   - Playground
  - Codebase Analysis (Kubernetes, Tensorflow, etc)
- Community
   - Open Source (Moved under community)
- Company

- [ ] Take so

[2019-04-11 10:46] marnovo commented on #376
@src-d/applications just to avoid confusion I'm closing this now and moving it to https://github.com/src-d/feature-idea/issues/141. Since some of these are major things we're drafting this first and will go through the regular feature-idea -> backlog -> tasks workflow. We'll be still working with Zuri on this.

[2019-04-11 10:46] #376 closed

[2019-04-16 22:56] marnovo opened #378 "Update architecture diagram picture on home"
Now that we have an updated and much better version of the architecture (Code as Data + ML on Code) diagram (see https://github.com/src-d/backlog/issues/1385#issuecomment-483645134), it's time to update it on the landing with any adjustments necessary to make web-friendly.

[2019-04-17 12:14] ricardobaeta commented on #378
Hi @marnovo the solution we're crafting has in mind desktop and mobile behavior for enhanced legibility. Having this in mind, we're going to have two images, the first one will be for desktop - horizontal layout - and the second one for mobile - vertical layout. With a css media query, we're going to hide & display each image.

Does it look good?

*Desktop*

![image](https://user-images.githubuser

[2019-04-17 12:22] marnovo commented on #378
@ricardobaeta yes that works fine.

[2019-04-17 14:49] ricardobaeta commented on #378
Update: [PR'd](https://github.com/src-d/landing/pull/379).

[2019-04-17 15:10] ricardobaeta commented on #378
Update: [Merged](https://github.com/src-d/landing/pull/379).

[2019-04-17 15:10] #378 closed

[2019-05-21 02:43] vcoisne commented on #365
Not relevant with new branding / naming.

[2019-05-21 02:43] #365 closed

[2019-05-21 02:43] vcoisne commented on #332
Not relevant anymore, that page is going away.

[2019-05-21 02:43] #332 closed

[2019-05-21 14:00] dpordomingo opened #391 "Uncontrolled scroll on indexed carousels"
described by https://github.com/src-d/landing/pull/390#issuecomment-494394007

Anchor links for tabs for carousels conflicts with an ancient hack for scrolling to anchors. :boom:

When one carousel contains tabs containing links with anchors, every time you click in one tab, the scroll is magically moved up and down in a weird way.

[2019-05-28 23:25] vcoisne opened #406 "Company page changes"
Please make the following changes to the Company page:
- Under roadmap replace “[…] as well as a single one through our powerful source{d} Engine and machine learning tools.” By  […] as well as a single one through our powerful source{d} platform and machine learning tools.”
- Remove all teams & photos, keep only management.
- Remove “CAREERS, Job Opportunities Exceptional missions require excepti

[2019-05-28 23:26] vcoisne opened #407 "Updates to Community page"
Please see balsamic for latest design / content updates. cc @znegrin

[2019-05-28 23:27] #407 closed

[2019-05-28 23:28] #406 closed

[2019-06-03 20:13] vcoisne opened #408 "Fix typo on homepage"
"Engineering Observability is the key to succesfull IT initiatives"

succesfull -> successful

[2019-06-04 06:29] #408 closed

[2019-06-04 06:30] dpordomingo commented on #408
fixed on prod

[2019-06-14 22:42] vcoisne opened #413 "Website SEO improvements"
@znegrin Please make the following SEO improvements to our website:

- Change website meta title to “The Data Platform for your Software Development Life Cycle”
- Add the following meta keywords: “Engineering Effectiveness, Code as Data, ML on Code, Code Analysis, Augmented Analytics, Software Intelligence, Software Analytics, Software Development Life Cycle,
- Add the following meta description:

[2019-06-14 23:15] vcoisne opened #414 "Company page updates"
@znegrin please make the following edits to the company page:

- Under roadmap replace “[…] as well as a single one through our powerful source{d} Engine and machine learning tools.” By  "[…] as well as a single one through our powerful source{d} platform and machine learning tools.”
- Remove all teams & photos, keep only Management section
- Remove “CAREERS, Job Opportunities Exceptional missions

[2019-06-15 08:28] dpordomingo opened #415 "Click in non existing Element"
This will fail when that element doesn't exist in the DOM

_Originally posted by @dpordomingo in https://github.com/src-d/landing/pull/401_

[2019-06-15 18:34] #415 closed

[2019-06-25 04:35] vcoisne commented on #414
@znegrin Also please update the Page title from "An exceptional mission executed by exceptional people" to " We empower IT executives to be data-driven leaders"

[2019-06-26 03:40] vcoisne opened #424 "List of issues currently in staging"
Thanks a lot @znegrin for all your hard work. We're almost there :)

Please fix the following issues currently in staging:

## Homepage :

- [x] Switch illustrations for Engineering Effectiveness & Cloud Native DevOps Transformation
- [x]  Update each "Learn More" links to point to their respective Solution page
<img width="1197" alt="Screen Shot 2019-06-25 at 8 00 53 PM" src="https://user-images.

[2019-06-26 08:35] znegrin commented on #414
I updated the page here: #428

[2019-06-26 08:37] znegrin commented on #424
All issues are now solved on their respective PRs: #402, #405, #423, #425, #426, #427 and #428

[2019-06-26 10:51] dpordomingo commented on #424
@vcoisne the links "Request a Demo" at [enterprise edition](https://landing-staging.srcd.run/products/enterprise-edition/#trial) redirects to the HP with no way to ask for a demo.
Imho it should be considered a major problem to be solved before the release.

![image](https://user-images.githubusercontent.com/2437584/60174124-a6fce100-9810-11e9-9008-f35342fed9c4.png)

note to @znegrin:
It could be

[2019-06-26 11:49] znegrin commented on #424
@dpordomingo I had no idea of how the links work, so probably is my fault as I just want to point to the `#trial` id at the bottom of the page. Can you explain me how to do that? Thanks

[2019-06-26 14:45] vcoisne commented on #424
@znegrin @dpordomingo Yes the link should point to the "request a demo" section at the bottom of the Enterprise page. If that's not possible you can also point to https://go.sourced.tech/enterprise-demo

[2019-06-26 19:11] dpordomingo commented on #424
I think that it would be solved if you replace the links to the anchors, with urls relative to the `base` tag used in landing, e.g.
`href="/products/enterprise-edition#trial"` instead of the current `href="#trial"`

[2019-06-27 04:02] vcoisne commented on #424
Thank you @znegrin and @dpordomingo

I have marked the issues that are resolved from the list above as checked. Please fix the ones that are not checked.

Here is another one I just came accross:

[source{d} - source{d} Enterprise Edition](https://landing-staging.srcd.run/products/enterprise-edition/)

## Enterprise Edition Page

- [ ]  Text under IT Modernization needs to be updated to “With sour

[2019-06-27 09:28] znegrin commented on #424
This is now fixed on #410

[2019-06-27 09:44] znegrin commented on #424
I think now all of the issues that were left are ready to be reviewed on their PRs.

[2019-06-27 15:16] dpordomingo opened #431 "Missing images in solutions"
Two images are missing, so their sections were commented.

Whenever they are ready, `master` should be updated this way:

https://landing-staging.srcd.run/solutions/it-modernization-and-compliance/
- uncomment: [hugo/layouts/solutions/it-modernization-and-compliance/single.html#L88](https://github.com/src-d/landing/blob/06c533dcc4d3a29aec150962264fe6fabae32106/hugo/layouts/solutions/it-modernizati

[2019-06-27 16:56] vcoisne commented on #424
- [ ] @znegrin Per our discussion just now, the "Request a demo" on the solutions pages should point to https://landing-staging.srcd.run/products/enterprise-edition/#trial instead of https://go.sourced.tech/engine

[2019-06-27 17:36] znegrin commented on #431
@dpordomingo I just made the changes on master. Please let me know if anything else is missed. Thank you.

[2019-06-27 19:04] vcoisne commented on #424
We're live!

[2019-06-27 19:04] #424 closed

[2019-06-27 19:06] #431 closed

[2019-06-27 19:13] vcoisne opened #433 "Minor issues in production"
## Company

- [ ] remove Roadmap section altogether

## Solutions Talent

- [ ] Remove "Evolution of vendor overtime" and replace by "Internal churn rates by team overtime"

![RessourceAllocation](https://user-images.githubusercontent.com/5384543/60293720-a3cb2900-98d4-11e9-8bf0-a4c6dc2821d5.jpg)

- [ ] Fix typo below

![typo](https://user-images.githubusercontent.com/5384543/60293818-e7be2e00-98d

[2019-06-27 20:56] #433 closed

[2019-06-27 21:08] Nicholas-Nord opened #435 "List of current issues to fix in production"
## Enterprise edition page

- [ ] Under  "Talent Assessment & Management" the "learn more" button currently point to a "404 Not Found" instead of https://sourced.tech/solutions/talent-assessment-and-management/ (missing an s at assessment)

## Community edition page

- [ ]  Update the "download source{d}" button to link to https://go.sourced.tech/community-edition-download instead of https://go.so

[2019-06-29 09:14] dpordomingo opened #438 "Unify targets for Download and Request Demo"
I think we should only have:
- https://go.sourced.tech/enterprise-demo
- https://go.sourced.tech/community-edition-download
- https://go.sourced.tech/community-edition-demo (if needed for the business)

but now we have:
- https://go.sourced.tech/engine
- https://go.sourced.tech/engine-download
- https://go.sourced.tech/community-edition-download
- https://go.sourced.tech/enterprise-demo (not used

[2019-07-01 04:59] #414 closed

[2019-07-01 05:00] #413 closed

[2019-07-01 05:03] dpordomingo commented on #283
I think it no longer happens in our current site, does it?

[2019-07-01 05:03] #283 closed

[2019-07-01 05:12] dpordomingo commented on #346
No activity in last year. Feel free to reopen if something is still needed.

[2019-07-01 05:12] #346 closed

[2019-07-01 05:13] dpordomingo commented on #357
There is no more Lookout in our Landing.

[2019-07-01 05:13] #357 closed

[2019-07-01 05:14] dpordomingo commented on #362
There is no more Engine in our Landing

[2019-07-01 05:14] #362 closed

[2019-07-01 07:07] znegrin commented on #435
I fixed all these requests on #441

[2019-07-01 08:21] #329 closed

[2019-07-01 08:21] #371 closed

[2019-07-01 08:38] #435 closed

[2019-07-03 04:43] vcoisne commented on #391
@dpordomingo I believe this is fixed. Correct ?

[2019-07-03 04:44] vcoisne commented on #370
Looks like this was fixed.

[2019-07-03 05:17] vcoisne opened #444 "List of minor website updates"
## source{d} Community Edition page
- [ ]  Replace the "Request Demo" button by "Forum" link to forum.sourced.tech

## Manager get started tab
- [ ]  Replace the "Request CE demo" by "Watch 5m video" pointing to https://www.youtube.com/watch?v=p1sZ_-P6FxA

## Header & Footer
- [ ] Add "Careers" in both the  header drop-down menu and footer (sorry If the comment in https://github.com/src-d/landing/

[2019-07-03 06:20] dpordomingo commented on #391
Not sure. It was a problem with our JS, and how we use tabs and carousels.
The problem could have disappeared in our current landing because I think we no longer have these interactions between tabs and carousels... but if they're added in the future, the problem will reappear.

So it's up to you if you prefer to leave this issue opened as a sort of documentation of a latent problem, or close it b

[2019-07-03 06:23] dpordomingo commented on #370
Not yet. If you try to select an address, the selection is replaced by a map when you perform the mouseup

[2019-07-03 06:33] znegrin commented on #444
@vcoisne where should the Careers link point to?? Thanks.

[2019-07-03 06:38] dpordomingo commented on #444
Not 100% sure, but I'd say that it should be an anchor to `Worldwide Opportunities` in https://sourced.tech/company

[2019-07-03 16:54] vmarkovtsev commented on #370
cc @vcoisne

[2019-07-03 21:55] #444 closed

[2019-07-05 15:15] vcoisne commented on #391
Thanks for the context. Let's close for now.

[2019-07-05 15:15] #391 closed

[2019-07-05 15:17] vcoisne commented on #370
I tried to copy / paste and it worked but I see what you mean @vmarkovtsev. @znegrin can you follow @dpordomingo suggestion here above ?

[2019-07-05 15:36] vcoisne commented on #225
Looks like Infra is tracking in a separate issue. closing.

[2019-07-05 15:36] #225 closed

[2019-07-05 15:38] vcoisne commented on #337
@znegrin Please take a look into this once bug when you get a chance?

[2019-07-05 15:45] vcoisne commented on #355
@dpordomingo Updated here https://github.com/src-d/landing/pull/449

Please merge if it looks good to you.

[2019-07-05 15:46] vcoisne commented on #216
is there any action for us to take here @dpordomingo ?

[2019-07-05 15:46] vcoisne commented on #444
@znegrin Looks good as is in production. Thank you

[2019-07-08 09:08] dpordomingo opened #450 "CORS issue in pardot pages for cerebrisans-medium.woff"
Our pardot pages are requesting: https://sourced.tech/fonts/cerebrisans-medium.woff

I'm not sure if that font is really needed, but it is not being loaded because of a CORS issue:
[code]

[2019-07-08 09:11] dpordomingo commented on #216
I think it's not an urgent thing, but something to consider when we have some time to spend improving the deployment.
I remember that @meyskens also mentioned some possible improvements that could be made in Landing. Could you provide some info about your suggestions Maartje?

[2019-07-18 08:03] vcoisne commented on #450
That font is not really needed.

[2019-07-18 08:03] #450 closed

[2019-07-18 13:00] vcoisne opened #454 "Add Slack icon back to community page"
I did not realize that we removed the Slack logo from the list of social media channels below on the community page. Could you please add it back @znegrin and link to https://sourced-community.slack.com/join/shared_invite/enQtMjc4Njk5MzEyNzM2LTFjNzY4NjEwZGEwMzRiNTM4MzRlMzQ4MmIzZjkwZmZlM2NjODUxZmJjNDI1OTcxNDAyMmZlNmFjODZlNTg0YWM

<img width="999" alt="Screen Shot 2019-07-18 at 2 56 01 PM" src="http

[2019-07-18 17:21] #355 closed

[2019-07-30 06:55] znegrin commented on #337
This is now fixed on https://github.com/src-d/landing/pull/455

[2019-08-13 07:56] znegrin commented on #337
This is now on production: [v4.17.10](https://github.com/src-d/landing/releases/tag/v4.17.10)

[2019-08-13 07:56] #337 closed

[2019-08-13 07:57] znegrin commented on #370
This is now on production: [v4.17.9](https://github.com/src-d/landing/releases/tag/v4.17.9)

[2019-08-13 07:57] #370 closed

[2019-08-13 07:57] znegrin commented on #454
This is now on production: [v4.17.10](https://github.com/src-d/landing/releases/tag/v4.17.10)

[2019-08-13 07:57] #454 closed

[2019-08-16 08:16] meyskens commented on #216
Few improvements infra whise:
* move the helm chart to src-d/charts
* move the Helm deploy to Travis CI using the included scripts in src-d/ci

[2019-08-19 21:15] vcoisne opened #458 "Replace Team by Management in the Company "drop down menu""
@znegrin in the blog, please Replace Team by Management in the Company "drop down menu" per https://github.com/src-d/blog/issues/307

[2019-08-21 16:03] znegrin commented on #458
Hi @vcoisne,

It is now replaced in both the header and the footer.

Thank you!

[2019-08-21 16:03] #458 closed

[2019-08-22 22:21] vcoisne opened #459 "Redirects on website"
Please point sourced.tech/engine to https://sourced.tech/products/community-edition/

Do you think you could also generate a list of all 404 from the website / blog so that we can handle all redirects properly?

[2019-08-22 22:43] vcoisne opened #460 "Press Page updates"
On the Press page - https://sourced.tech/news-and-press/

1. Please move the press release list under the Analyst report section

2. add the TechCrunch Logo linking to https://techcrunch.com/2019/07/02/software-development-analytics-platform-sourced-launches-an-enterprise-edition/

[2019-09-03 14:30] znegrin commented on #460
This is now ready on this PR: https://github.com/src-d/landing/pull/461

[2019-09-03 14:32] znegrin commented on #459
Hi @vcoisne,

I actually don't know how can I do this, or how to get the information you are requesting.
Maybe we can ask someone else.

Thank you.

[2019-09-05 21:46] vcoisne commented on #460
@znegrin reviewed and merged. Ready for prod.

[2019-09-05 21:47] vcoisne commented on #459
@ricardobaeta is this something you'd be able to help with ?

[2019-09-05 21:49] vcoisne opened #462 "Adding search bar to the website + blog"
I would like to add search capabilities to our website and blog.

Not sure what the best option is. Maybe Algolia ?

Any recommendation @znegrin @marnovo @ricardobaeta ?

[2019-09-09 09:23] rporres commented on #216
Since this is not reusable by anyone else, it could be ok to have it here but it's necessary to

due to the way our Travis CI integration works

[2019-09-10 21:42] vcoisne commented on #216
@rporres I let you make the decision on whether or not you want to improve this and when since it would be done by your team.

[2019-09-11 15:23] rporres commented on #216
Both things make a lot of sense. I will create issues for that as we should be removing Drone.

[2019-09-16 23:02] vcoisne commented on #459
Ping @ricardobaeta or maybe @dpordomingo ?

[2019-09-16 23:30] vcoisne opened #463 "Fix issues / finalize Ghost setup"
Thank you @vmarkovtsev for creating this doc with the list of tasks left to finalize a proper ghost setup

https://docs.google.com/spreadsheets/d/15ysW90Onf5cdYV-4SXd-JK7YzjOkLLq8EX6VUbgA4eg/edit#gid=0

@znegrin please review and let me know if you have any questions.

[2019-09-17 04:02] dpordomingo commented on #459
I think you can add redirects here:
https://github.com/src-d/landing/blob/6d54bf057289babbf50746e0f0c9f117918a9927/Caddyfile#L11

To get a list of current 404, I think you can get it from Google Analytics.

[2019-09-26 22:34] vcoisne opened #465 "Styling of consent field in pardot forms"
I'm having issues with styling the consent field in our pardot forms as you can see below

<img width="437" alt="Screen Shot 2019-09-26 at 3 26 30 PM" src="https://user-images.githubusercontent.com/5384543/65729325-b93a2580-e072-11e9-9ef5-b88226f95332.png">

I think it has to do with our form layout. Could you please take a look @ricardobaeta ?

[2019-09-30 07:46] ricardobaeta commented on #465
HI @vcoisne ! I took a look at Pardot, but wasn't able to find this specific Form. Could you point me out to it, please?

[2019-10-01 21:16] ricardobaeta commented on #465
@vcoisne Not only this form/checkbox is properly styled now, but as well all the forms inherited by the "Product Landing Page Template" are now being styled accordingly.

![image](https://user-images.githubusercontent.com/1746146/66001169-e0408f00-e498-11e9-8077-e6f6ff5ed4c0.png)

You might want to close this per objective accomplishment.

[2019-10-01 21:20] vcoisne commented on #465
Nice job @ricardobaeta thanks!

[2019-10-01 21:20] #465 closed

[2019-10-02 21:28] vcoisne opened #466 "Blog post layout wastes too much space in the header"
Describe the problem
UX problem.
When the user clicks in a blog card (from Landing, or from any internal link), it goes to the post but the browser window is mostly occupied by a huge and useless header.

post
example

Describe the solution you'd like
Posts should be opened with the post title in the very top.

Alternatives
Ordered by personal preference:

Post layout should use a small version of

[2019-10-02 21:29] vcoisne opened #467 "Handle redirects for old Landing urls"
moved from @dpordomingo comment at https://github.com/src-d/feature-idea/issues/133

**Is your feature request related to a problem? Please describe.**
After a redesign, or any other modification in Landing contents, urls can change, so previously shared ones will be no longer accessible, no matter they're in docs, blog posts, tweets, press notes...

**Describe the solution you'd like**
- To check

[2019-10-03 19:21] vcoisne commented on #467
Actually this is a duplicate of https://github.com/src-d/landing/issues/459#issuecomment-527485321

[2019-10-03 19:21] #467 closed

[2019-10-03 19:23] vcoisne commented on #459
@src-d/infrastructure per @dpordomingo comment above, would you be able to help with the following redirects in the landing caddyfile ? https://docs.google.com/spreadsheets/d/1zYlIuCRY5ONtO8f4SD3DsddhD9pApALTY5A2L4TaqRI/edit#gid=0

[2019-10-03 19:25] vcoisne commented on #216
@rporres closing this issue given that I think you completed the move to Travis.

[2019-10-03 19:25] #216 closed

[2019-10-04 04:00] vcoisne opened #468 "Update "new" div on the homepage"
We shoud update the "New" announcement div on the homepage to feature the MLonCode Newspaper.

<img width="1023" alt="Screen Shot 2019-10-03 at 8 58 47 PM" src="https://user-images.githubusercontent.com/5384543/66180148-9da9be80-e620-11e9-968a-6a4cee08cdbe.png">

Text: "Download our new Machine Learning for Software Development Analytics Ebook" pointing to https://go.sourced.tech/ml-ebook

[2019-10-07 19:28] vcoisne commented on #466
@znegrin is it possible to remove the "sourced blog" and tags for the posts?

[2019-10-07 19:32] vcoisne commented on #460
Deployed to prod. closing

[2019-10-07 19:32] #460 closed

[2019-10-07 19:38] vcoisne commented on #459
@znegrin you should be able to add the URLs from the ghseet above by adding new lines in
https://github.com/src-d/landing/blob/master/Caddyfile#L11
taking the current ones as examples.

[2019-10-08 06:28] kyrcha opened #471 "Unable to download the source{d} Enterprise Edition Ebook"
From this tweet:

https://twitter.com/sourcedtech/status/1180860398033149959

I was directed to this link:

https://go.sourced.tech/ee-ebook

I am trying to download the ebook and after filling out all the information I get a `This field is required.` error:

![Screenshot 2019-10-08 09 16 00](https://user-images.githubusercontent.com/400161/66372007-96323e80-e9ad-11e9-8dab-5b92dfda50a8.png)

and n

[2019-10-16 16:17] vcoisne opened #472 "Create website 404 page"
https://github.com/src-d/product/issues/291 for context.

1. use the gitbase playground server connectivity broken robot animation and work around the copy for this page, what do you think?

@ricardobaeta can you point @znegrin to the source file ?

2. Also let's (very briefly) check a few 404s from [benchmark companies](https://docs.google.com/spreadsheets/d/1gK-Tt3OKfsnK0O_SW4UDN8VeQX2ar_fC_MC_M

[2019-10-22 12:09] ricardobaeta commented on #472
@znegrin Here's the asset for the broken robot animation https://drive.google.com/file/d/1pxISPPkfNyBgZHpKe7NsZz4_hpN_LF0x/view?usp=sharing

[2020-01-20 20:08] BFergerson opened #473 "Website down"
I'm sure you guys will probably have it fixed before you see this but I just wanted to make sure I reported it. I don't know if this is the appropriate place but https://sourced.tech appears to be down.

I get `PR_END_OF_FILE_ERROR` when I try to access https://sourced.tech and https://www.isitdownrightnow.com/sourced.tech.html agrees the website is down.